form, .for-login{
	margin:10% 40% 0 40%;
		
}
form, #new_form{
	margin:0;
}

table, .table td input{
	border:0;	
	
}

input{
	
}

div, .card, .shadow-2-strong, .card-registration{
/*	margin:7% 5% 0 5%;*/
}

 .dropdown{
		position: absolute;
		right:40px;
}

button, #new_form{

	padding: 10px;
}


html,body{
	height:100%;
}
body{
background-color: #8BC6EC;
background-image: linear-gradient(135deg, #ffC6EC 0%, #9599E2 100%);

}